---
layout: full-width
---
<style TYPE="text/css">
    .slider {
        background: #f4f4f4;
    }

    .slide {
        width: 400px;
    }

    .slide img {
        border: 5px solid #fff;
    }

</style>

<h1><a href="/{{ site.gallery.dir }}">{{ page.title }}</a></h1>
<hr />

<div class="slider lazy">
    {% for image in page.images %}
    <div>
        <div class="slide">
            <img data-lazy="{{ image.name }}"/>
        </div>
    </div>
    {% endfor %}
</div>

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
    $(document).ready(function () {
        $('.slider').slick({
            variableWidth: true,
            lazyLoad: 'progressive',
            slidesToShow: 4,
            slidesToScroll: 1,
            centerMode: true,
            centerPadding: '40px',
            autoplay: true,
            autoplaySpeed: 2000,
            dots: true,
            infinite: true,
            speed: 500,
            arrows: true,
            pauseOnFocus: false,
            pauseOnHover: true,
        })
    })
</script>